@import "tailwindcss";

:root {
  font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Arial;
  cursor: pointer;
  transition: border-color 0.25s;
}

.close-dialog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 30px;
  line-height: 1;
  color: #6b7280;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 16px;
}

.header-nav-container {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  width: 100%; /* Para garantir que ocupe a largura completa */
}

header {
  background-color: white;
  padding: 0 1rem; /* Espaçamento nas laterais */
  height: 80px; /* Definindo altura fixa para o header */
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
}

.nav-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  display: flex;
  align-items: center; /* Garante que o conteúdo dentro do botão esteja centralizado verticalmente */
  justify-content: center; /* Garante que o conteúdo dentro do botão esteja centralizado horizontalmente */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
